

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Fonctions</span> </b></center>

#### **Exercice 00:**  
> **Écrire une fonction `cube` qui retourne le cube de son argument.**

In [78]:
def cube (x):
    return x*x*x

In [79]:
cube(10)

1000

#### **Exercice 01:**  
> **Déclarez une fonction `ajouter_deux_nombres`. Elle prend deux paramètres et renvoie leur somme.**

In [80]:
def ajouter_deux_nombres(x,y):
 return x+y

In [81]:
ajouter_deux_nombres(2,3)

5

#### **Exercice 02:**  
> **L'aire d'un cercle se calcule comme suit : aire = pi x r x r avec pi=3,14. Écrivez une fonction `aire_du_cercle` qui prend le rayon en argument et calcule l'aire du cercle correspodant.**

In [82]:
def aire_du_cercle(r):
    pi =3.14
    return r*r*pi

In [83]:
aire_du_cercle(6)

113.04

#### **Exercice 03:**  
> **La température en °C peut être convertie en °F à l'aide de cette formule : °F = (°C x 9/5) + 32. Écrivez une fonction `convert_celsius_en_fahrenheit` qui convertit les °C en °F**.

In [84]:
def convert_celsuis_en_fahrenheit(C):
    d=9/5
    return C*d +32

In [85]:
convert_celsuis_en_fahrenheit(15)

59.0

#### **Exercice 04:** 
>**Écrire une fonction somme avec un argument « tuple de longueur variable » qui calcule la somme des nombres contenus dans le tuple.Tester cette fonction par des appels avec différents tuples d’entiers ou de flottants.**

In [103]:
def sum(*args):
    somme=0
    for i in args:
        somme += i
    return somme

In [104]:
sum(12,5,4,6)

27

In [106]:
sum(1.5,8.6,4.2,6.9)

21.200000000000003

#### **Exercice 05:** 
>**Ecrire `somme_liste` qui calcule la somme des nombres contenus dans une liste.Tester cette fonction par des appels avec différents listes d’entiers ou de flottants.**

In [107]:
def somme_liste(a,b,n,m,j):
    return a+b+n+m+j

In [109]:
somme_liste(1,5,7,8,9)

30

#### **Exercice 06:** 
>**Écrire une fonction somme qui  prend en argument un entier $n$ et retourne la somme  des $n$-prémiers entiers naturels.**

In [115]:
def somme(n):
    j=0
    for i in range(n+1):
        j=j+i
    return j

In [117]:
somme(6)

21

#### **Exercice 07:** 
>**Écrire une fonction `nom` qui demande à l'utilisateur d'entrer son nom ensuite son prénom et affiche son prénom suivit de son nom.**

In [152]:
def nom():
    n=input("entrer votre nom et prenom " )
    n=n.split()
    return n[1], n[0]

In [151]:
nom()

entrer votre nom et prenom diop mama

('mama', 'diop')

#### **Exercice 08:** 
>**Écrire une fonction `nom` qui demande à l'utilisateur d'entrer son nom ensuite son prénom et affiche son prénom suivit de son nom.**

In [157]:
def nom():
    n=input("entrer votre nom et prenom " )
    n=n.split()
    return n[1],n[0]

In [158]:
nom()

entrer votre nom et prenom faye awa

('awa', 'faye')

#### **Exercice 09:** 
>**Ecris une fonction `Maximum` qui renvoie le minimum de trois nombres.**

In [174]:
def Maximum(liste):
    mini = liste[0]
    for i in liste:
        if i <= mini:
            mini = i
            return mini

In [175]:
Maximum([8,4,3])

8

#### **Exercice 10:**
>**Soit $f(x)=ax^2+bx+c$ un trinôme du second degré.**
 1. **Ecris une fonction `Discriminant` qui calcule son discriminant.**
 2. **Ecris ensuite une fonction `existence_des_racines_du_trinome` qui discute suivant les valeurs du discriminant, l'existence de ses racines.**

In [19]:
def Discriminant(a,b,c):
    d=b**2- 4*a*c
    return d

In [30]:
from math import* 
def existence_des_racines_du_trinome(a,b,c):
    d = Discriminant(a,b,c) 
        
    if d < 0:
        return "il n'existe pas de racine"
    elif d > 0:
        return "les racines sont", -b-sqrt(d)/2*a ,-b+sqrt(d)/2*a
    
    else:
        return "la racine est",-b/2*a

In [31]:
existence_des_racines_du_trinome(4,8,3)

('les racines sont', -16.0, 0.0)

#### **Exercice 11:**
>**Ecris une fonction qui affiche le reste de la division euclidienne d'un entier naturel $a$ par un entier naturel $b$**.

In [83]:
def reste(a,b):
    r=a%b
    return r

In [84]:
reste(15,2)

1

#### **Exercice 12:**
>**Ecris une fonction `terme_suite_geometrique` qui affiche le n-ième terme d'une suite géométrique $(v_n)$ de premier terme $v_0$ et de raison $q$. Teste ce programme pour $v_0=2, q=3$ et $n=4$.**

In [55]:
def terme_suite_geometrique(premier_terme,raison,rang):
    u=premier_terme + raison*rang
    return u

In [56]:
terme_suite_geometrique(2,3,4)

14

#### **Exercice 13:**
>**Écris une fonction `merci` prend en paramètre un `nom` et renvoie le message "Merci pour votre présence à cet atelier,`nom`.**

In [60]:
def merci():
    a=input("donner un non : ")
    return "Merci pour votre présence à cet atelier",a

In [61]:
merci()

donner un non : diop

('Merci pour votre présence à cet atelier', 'diop')

#### **Exercice 14:**
>**Écris une fonction `ma_suite` qui définit la suite $(u_n)$ telle que  $$u_{n}=\frac{2n^2+3n-1}{n+6}.$$
Affiche son 5e terme.**

In [77]:
def ma_suite(n):
    u = (2*(n**2)+(3*n)-1)/(n+6)
    return u

In [78]:
ma_suite(5)

5.818181818181818



<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! 🎉 </span> </b></center>