

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [27]:
a=[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [41]:
b=["f","u","l","h","t","s","o"]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [16]:
print(len(b))

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [44]:
print(b[0])
print(b[3])
print(b[-1])

f
h
o

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [47]:
mixed_data_types=["mama",27,1.85,"celibataire","thies"]

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [74]:
it_companies=["Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [75]:
print(len(it_companies))

7

In [76]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

Facebook
Apple
Amazon

In [77]:
it_companies[5]="Firefox"
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Firefox', 'Amazon']

In [78]:
it_companies.append("Infotech")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Firefox', 'Amazon', 'Infotech']

In [79]:
it_companies.insert(4,"CISCO")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'CISCO', 'IBM', 'Firefox', 'Amazon', 'Infotech']

In [80]:
it_companies[3]="APPLE"
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'APPLE', 'CISCO', 'IBM', 'Firefox', 'Amazon', 'Infotech']

In [81]:
print("# ;".join(it_companies))

Facebook# ;Google# ;Microsoft# ;APPLE# ;CISCO# ;IBM# ;Firefox# ;Amazon# ;Infotech

In [82]:
b=input("entrer un element du liste" )
if b in it_companies :
    print("b est trouv√© dans la liste : " )
else :
        print("b nest pas sur la liste" )

entrer un element du listeIBM
b est trouv√© dans la liste :

In [83]:
it_companies.sort() 
print(it_companies)

['APPLE', 'Amazon', 'CISCO', 'Facebook', 'Firefox', 'Google', 'IBM', 'Infotech', 'Microsoft']

In [84]:
it_companies.reverse()
print(it_companies)

['Microsoft', 'Infotech', 'IBM', 'Google', 'Firefox', 'Facebook', 'CISCO', 'Amazon', 'APPLE']

In [85]:
del it_companies[0:3]
print (it_companies)

['Google', 'Firefox', 'Facebook', 'CISCO', 'Amazon', 'APPLE']

In [86]:
del it_companies[3:6]
print(it_companies)

['Google', 'Firefox', 'Facebook']

In [87]:
del it_companies[1]
print (it_companies)

['Google', 'Facebook']

In [88]:
del it_companies[-1]
print (it_companies)

['Google']

In [89]:
it_companies.clear()
print (it_companies)

[]

In [91]:
del it_companies
print(it_company)

NameError: name 'it_company' is not defined

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [79]:
front_end = ["HTML","CSS","JS","React","Redux"]
back_end = ["Node","Express","MongoDB"]
print(front_end+back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [19]:
ages=[19,22,19,24,20,25,26,24,25,24]
ages.sort()
print(ages)
print(max(ages))
print(min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
26
19

In [20]:
ages.append(19)
ages.append(26)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [21]:
import statistics
print(statistics.median(ages))

24.0

In [22]:
print(statistics.mean(ages))

22.75

In [24]:
print([min(ages),max(ages)])

[19, 26]

In [25]:
b=statistics.mean(ages)
c=min(ages)-b
print(c)
d=max(ages)-b
print(d)
print(abs(c)==abs(d))
print((abs(c)<=abs(d)))
print(abs(c)>=abs(d))
print(abs(c)!=abs(d))
print(abs(c)<abs(d))
print(abs(c)>abs(d))

-3.75
3.25
False
False
True
True
False
True

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [28]:
dog={}

In [29]:
dog={"nom : fatou", "couleur : blanc", "pattes : spagetti","age : 27"}

In [27]:
student={"prenom" : "fama", "nom" : "diop","sexe" : "feminin","age" : 23,"etat civil" : "mariee","competences" : ["codage,developpeur"],"pays" : "senegal","ville" : "mbour","adresse" : "medine",}

In [30]:
print(len(student))

9

In [31]:
print(student[ "competences" ])
type(student[ "competences" ])

['codage,developpeur']

list

In [32]:
student[ "competences" ].append("enseigner")
print (student)

{'prenom': 'fama', 'nom': 'diop', 'sexe': 'feminin', 'age': 23, 'etat civil': 'mariee', 'competences': ['codage,developpeur', 'enseigner'], 'pays': 'senegal', 'ville': 'mbour', 'adresse': 'medine'}

In [33]:
l=list(student.keys())
print(l)

['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'pays', 'ville', 'adresse']

In [34]:
p=list(student.values())
print(p)

['fama', 'diop', 'feminin', 23, 'mariee', ['codage,developpeur', 'enseigner'], 'senegal', 'mbour', 'medine']

In [35]:
t=list(student.items())
print(t)

[('prenom', 'fama'), ('nom', 'diop'), ('sexe', 'feminin'), ('age', 23), ('etat civil', 'mariee'), ('competences', ['codage,developpeur', 'enseigner']), ('pays', 'senegal'), ('ville', 'mbour'), ('adresse', 'medine')]

In [36]:
del student["prenom"]
print(student)

{'nom': 'diop', 'sexe': 'feminin', 'age': 23, 'etat civil': 'mariee', 'competences': ['codage,developpeur', 'enseigner'], 'pays': 'senegal', 'ville': 'mbour', 'adresse': 'medine'}

In [38]:
L=[dog,student]
L.remove(dog)
print(L)

[{'nom': 'diop', 'sexe': 'feminin', 'age': 23, 'etat civil': 'mariee', 'competences': ['codage,developpeur', 'enseigner'], 'pays': 'senegal', 'ville': 'mbour', 'adresse': 'medine'}]

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>